:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
.menu-sidebar {
  height: 100vh !important;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}
  
  
nz-content {
  margin: 24px;
}



  