<nz-layout class="app-layout">
  <nz-sider nzTheme="light" class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [nzCollapsed]="isCollapsed$ | async"
    (nzCollapsed)="updateSidebar($event)"
    [nzTrigger]="null">
    <app-sidebar></app-sidebar>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-header></app-header>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
  
