<button nz-button nzType="primary" class="input-number-decrement" (click)="decrement()">
    <i nz-icon nzType="minus" nzTheme="outline"></i>
</button>
<input id="standard" class="input-number" type="text" disabled [value]="quanty">
<button nz-button nzType="primary" class="input-number-increment" (click)="add()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
</button>
