.input-number {
	width: 60px;
	vertical-align: top;
	text-align: center;
	outline: none;
	font-size: 100%;
    border-radius: 0 !important;
    text-align: center;
}

.input-number,
.input-number-decrement,
.input-number-increment {
	border: none;
	height: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input-number-decrement,
.input-number-increment {
	font-size: 85%;
	display: inline-block;
	width: 30px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.input-number-decrement:active,
.input-number-increment:active {
	background: #ddd;
}

.input-number-decrement {
	border-right: none;
	border-radius: 4px 0 0 4px;
	margin-right: 0px;
}

.input-number-increment {
	border-left: none;
	border-radius: 0 4px 4px 0;
	margin-left: -4px;
}