

<div class="site-page-header-ghost-wrapper">
    <nz-page-header [nzGhost]="false" class="page-header">
        <nz-page-header-subtitle>
            <span class="header-trigger" (click)="toggleMenu()">
                <i class="button-header"
                    nz-icon
                    [nzType]="(isCollapsed$ | async) ? 'menu-unfold' : 'menu-fold'"
                ></i>
            </span>
        </nz-page-header-subtitle>
        <nz-page-header-extra>
            <nz-badge [nzCount]="totalInCart$ | async" routerLink="/shop/cart">
                <nz-avatar nzIcon="shopping" style="color:#3c9d9b;background-color:#c0ffb3;margin-right: 0; cursor: pointer;"></nz-avatar>
            </nz-badge>


            <ng-container *ngIf="user$ | async as user">
                <nz-avatar [nzText]="user.firstName.split('')[0]" style="color:#3c9d9b; background-color:#c0ffb3; cursor: pointer;" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"></nz-avatar>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <div class="menu">
                        <p style="margin: 0">Hola, <b>{{user.firstName}}</b></p>
                        <nz-divider style="margin: 7px 0"></nz-divider>
                        <a nz-button nzType="link" class="button-header" (click)="SignOut()">
                            <i nz-icon nzType="logout" nzTheme="outline"></i> Cerrar sesion
                        </a>
                    </div>
                </nz-dropdown-menu>
              
            </ng-container>
            
            
        </nz-page-header-extra>

    </nz-page-header>
  </div>