 
.header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s,padding 0s;
}

.page-header {
    height: 64px;
    background: #fff;
}
.button-header {
    color: #393e46;
}
.button-header:hover {
    color: #4ecca3;
}

.menu {
    background-color: #fff;
    border: 1px solid #f8f8f8;
    border-radius: 10px;
    box-shadow: none;
    padding: 10px;
}


  