<nz-divider nzText="Carrito" nzOrientation="left"></nz-divider>
<nz-row>
    <nz-col nzSpan="22" nzOffset="1" >
        <ng-container *ngIf="(currentCart$ | async).cart; else emptyTemplate">
            <nz-spin [nzSpinning]="loadingCart$ | async">
                <app-cart-card style="margin: auto 0;" [cart]="(currentCart$ | async).cart"></app-cart-card>
            </nz-spin>
        </ng-container>
        <ng-template #emptyTemplate>
            <nz-empty style="margin: auto 0;"
                nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                [nzNotFoundContent]="contentTpl"
                [nzNotFoundFooter]="footerTpl"
            >
                <ng-template #contentTpl>
                    <span> No tienes ningun carrito activo, para iniciar uno agrege un producto</span>
                </ng-template>
                <ng-template #footerTpl>
                    <button nz-button nzType="primary" routerLink="/shop/dashboard">Ir a productos</button>
                </ng-template>
            </nz-empty>
        </ng-template>
        

    </nz-col>
    
    
</nz-row>
<nz-divider nzText="Ordenes" nzOrientation="left"></nz-divider>
<nz-row>
    <nz-col nzSpan="22" nzOffset="1">
        <ng-container *ngIf="(orders$ | async) && (orders$ | async).length > 0; else emptyOrderTemplate">
            <app-cart-card [cart]="order" *ngFor="let order of (orders$ | async)" ></app-cart-card>
        </ng-container>
        <ng-template #emptyOrderTemplate>
            <nz-empty
                nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                [nzNotFoundContent]="contentTpl"
            >
                <ng-template #contentTpl>
                    <span> No tienes ninguna orden generada </span>
                </ng-template>
            </nz-empty>
        </ng-template>
    </nz-col>
</nz-row>