<div nz-row [nzGutter]="16">
    <ng-container *ngIf="loadingProduct$ | async; else realProducts">
        <div nz-col [nzSpan]="8" *ngFor="let item of testCards">
            <nz-card  [nzLoading]="true">
                <p>Content</p>
            </nz-card>
        </div>
    </ng-container>
    <ng-template #realProducts>
        <ng-container *ngIf="(products$ | async).length > 0; else productEmpty">
            <div nz-col [nzSpan]="8" *ngFor="let product of (products$ | async); let i = index">
                <nz-card [nzTitle]="product.name" style="margin-bottom: 15px;" >
                    <nz-card-meta [nzAvatar]="avatarTemplate" [nzTitle]="titleTemplate" [nzDescription]="descriptionTemplate"></nz-card-meta>
                </nz-card>
                <ng-template #titleTemplate>
                    <nz-tag nzColor="success" style="border-radius: 15px;">
                        <i nz-icon nzType="barcode" nzTheme="outline"></i>
                        <span><b>SKU: </b>{{product.sku}}</span>
                    </nz-tag>
                </ng-template>
                <ng-template #descriptionTemplate>
                    <div style="margin-bottom: 10px; height: 84px;">
                        <p class="txt--left w--100" style="cursor: pointer; " *ngIf="product.description.length <= 60" >{{ product.description}}</p>
                        <p class="txt--left txt--black mb--10 text-description" *ngIf="product.description.length > 60">
                            {{(showMoreMessage && showMoreMessageIndex === i) ? product?.description :  product.description | limitTo: '60'}}
                            <a (click)="toggleMessage(i)" class="btn txt--underline txt--lightblue"
                                *ngIf="product?.description?.length > 60">{{ showMoreMessage && showMoreMessageIndex === i ? 'read less' : 'read more'}}</a>
                        </p>
                    </div>
                    <div style="text-align: end;">
                        <ng-container *ngIf="!(elemenExisteInCart(product.id) | async); else deleteFrom">
                            <button nz-button nzType="primary" nzSize="default" nzShape="round" (click)="addToCart(product)" [nzLoading]="loadingCart$ | async">
                                <i nz-icon nzType="shopping-cart"></i> Agregar
                            </button>
                        </ng-container>
                        <ng-template #deleteFrom>
                            <button nz-button nzType="primary" nzDanger nzSize="default" nzShape="round"  nz-popconfirm
                            nzPopconfirmTitle="Estas seguro de eliminar este producto?"
                            nzPopconfirmPlacement="bottom"
                            [nzLoading]="loadingCart$ | async"
                            (nzOnConfirm)="deleteProduct(product.id)">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>  Eliminar
                            </button>
                        </ng-template>
                    </div>
                </ng-template>
            </div>
        </ng-container>
        <ng-template #productEmpty>
            <div nz-col [nzSpan]="24">
                <nz-empty></nz-empty>

            </div>
        </ng-template>
        
        
    </ng-template>
</div>

<ng-template #avatarTemplate>
    <nz-avatar nzIcon="shop" style="background-color:#A4CAF6;"></nz-avatar>
</ng-template>