nz-card {
    border-radius: 15px;
    height: 250px;
    
    ::ng-deep .ant-card-head {
        background-color: #a9eee6;
        color: #393e46;
        border-radius: 15px 15px 0px 0px;
    }
}


.text-description {
    text-align: justify;
    white-space: normal; 
    overflow-wrap: break-word; 
    overflow-y: auto; 
    height: 84px;
    width: fit-content;
}