
<div class="sidebar-logo">
  <img src="../../../assets/img/online-shopping.svg" alt="logo">
  <h1>TulShop</h1>
</div>
<ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed$ | async" class="Theme">
  <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter routerLink="/shop/dashboard">
    <i nz-icon nzType="appstore"></i>
    <span>Tienda</span>
  </li>
  <li nz-menu-item nz-tooltip nzTooltipPlacement="right" (click)="addProduct()">
    <i nz-icon nzType="plus"></i>
    <span>Agrear nuevo producto</span>
  </li>
</ul>
    
