.center{
    height: 100vh !important;
    display: flex;
}

.login-form {
    width: 70%;
    margin: auto;
}

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

.show-pattern {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(32, 32, 32, 0.4)), url('../../../../assets/img/pattern.png') no-repeat center;
    background-size: cover;

}