
<div nz-row [nzGutter]="2">
    <div nz-col class="gutter-row center" nzSpan="16" >
      <form nz-form nzLayout="vertical" [formGroup]="registerForm " class="login-form" (ngSubmit)="submitForm()">
        <div style="text-align: center;">
          <img src="../../../../assets/img/online-shopping.svg" alt="" height="128" width="128">
        </div>
        <nz-form-item>
            <nz-form-label>Nombres</nz-form-label>
            <nz-form-control nzErrorTip="Debe ingresar su nombre">
              <input type="text" nz-input formControlName="firstName" placeholder=""  nzSize="large" />
            </nz-form-control>
          </nz-form-item>
        <nz-form-item>
          <nz-form-label>Apellidos</nz-form-label>
          <nz-form-control nzErrorTip="Debe ingresar sus apellidos">
            <input type="text" nz-input formControlName="lastName" placeholder=""  nzSize="large" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Correo electronico</nz-form-label>
          <nz-form-control nzErrorTip="Ingresa un correo electronico valido">
              <input type="email" nz-input formControlName="email" placeholder="" nzSize="large" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Contraseña</nz-form-label>
          <nz-form-control nzErrorTip="Debes ingresar una contraseña de almenos 4 caracteres">
              <input type="password" nz-input formControlName="password" placeholder="" nzSize="large" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Repite Contraseña</nz-form-label>
          <nz-form-control nzErrorTip="Las contraseñas no coinciden">
              <input type="password" nz-input formControlName="repeatPassword" placeholder="" nzSize="large" />
          </nz-form-control>
        </nz-form-item>
  
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" nzSize="large" [nzLoading]="loadingAuth$ | async">Registrarme</button>
        <p>Ya tienes una cuenta? <a nz-button nzType="link" style="padding: 0;" routerLink="/auth/login">Inicia Sesion</a></p>
      </form>
    </div>
    <div nz-col nzSpan="8" class=" gutter-row show-pattern" style="position: relative;">
      <div class="inner-box"> 
        <h1 nz-typography style="color: #fff;"><strong>Registro</strong></h1>
        <p nz-typography style="color: #fff;">Registrate para hacer el test a mi prueba</p>
      </div>
      
    </div>
  </div>
  
