
  
<div nz-row [nzGutter]="2">
  <div nz-col class="gutter-row center" nzSpan="16" >
    <form nz-form nzLayout="vertical"  [formGroup]="loginForm " class="login-form" (ngSubmit)="submitForm()">
      <div style="text-align: center;">
        <img src="../../../../assets/img/online-shopping.svg" alt="" height="128" width="128">
      </div>
      <nz-form-item>
        <nz-form-label>Email</nz-form-label>
        <nz-form-control  nzErrorTip="Please input your username!">
          <input type="text" nz-input formControlName="email" placeholder="Username"  nzSize="large" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Password</nz-form-label>
        <nz-form-control nzValidateStatus="password" nzErrorTip="Please input your Password!">
            <input type="password" nz-input formControlName="password" placeholder="Password" nzSize="large" />
        </nz-form-control>
      </nz-form-item>
      {{loadingAuth$ | async}}
      <button type="submit" nz-button class="login-form-button login-form-margin" [nzType]="'primary'" nzSize="large" [nzLoading]="loadingAuth$ | async">Log in</button>
      <p>No tienes una cuenta? <a nz-button nzType="link" style="padding: 0;" routerLink="/auth/register">Crea una</a></p>
    </form>
  </div>
  <div nz-col nzSpan="8" class=" gutter-row show-pattern" style="position: relative;">
    <div class="inner-box"> 
      <h1 nz-typography style="color: #fff;"><strong>Bienvenido a TulCart!</strong></h1>
      <p nz-typography style="color: #fff;">Ingrese y agrega tus increibles productos</p>
    </div>
    
  </div>
</div>



