/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

* {
    font-family: 'Poppins', sans-serif;
}

:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.app-layout {
    height: 100%;
    width: 99.9%;
    background-color: #fff;
}


input {
    border: 0  !important;
    background-color: #f5f5f5  !important;
    border-radius: 10px !important;
    height: 45px;
    color: #536162 !important;
}

.inner-box {
    padding: 25px 15px;
    position: absolute;
    bottom: 40px;
    left: 0;
  }

  .inner-content {
    padding: 24px;
    height: 100%;
  }