<ng-container *ngIf="cart">
    <ng-container *ngIf="cart.status === 'pending'; else orderTemplate">
        <nz-card [nzActions]="[CompleteOrder]">
            <nz-card-meta nzTitle="Carrito" [nzDescription]="descriptionTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #descriptionTemplate>
            <nz-list class="demo-loadmore-list">
                <div class="ps" style="position: relative; max-width: 100%; max-height: 300px; padding: 10px 0;" [perfectScrollbar]="config">
                    <nz-list-item *ngFor="let item of cart.cartItems">
                        <nz-list-item-meta
                          [nzAvatar]="avatarTemplate"
                          [nzTitle]="item.productName"
                        >
                          <nz-list-item-meta-description>
                            <p><b>SKU: </b> {{item.productSku}}</p>
                            <button nz-button nzType="link" nzDanger style="padding: 0;" (click)="deleteProduct(item.productId)" >
                                Eliminar articulo
                            </button>
                          </nz-list-item-meta-description>
                        </nz-list-item-meta>
                        <ul nz-list-item-actions>
                          <nz-list-item-action>
                            <app-increment [quanty]="item.quanty" (changeQuanty)="updateQuanty(item.productId, $event)"></app-increment>
                          </nz-list-item-action>
                        </ul>
                    </nz-list-item>
                </div>
                
            </nz-list>
        </ng-template>
        <ng-template #avatarTemplate>
            <nz-avatar nzIcon="paper-clip" style="background-color:#A4CAF6;"></nz-avatar>
        </ng-template>
        <ng-template #CompleteOrder >
            <button nz-button nzType="link" style="color: #30e3ca;" nzSize="large"  nzBlock (click)="createOrder(cart.id)">
                <i nz-icon nzType="check-circle" nzTheme="outline" ></i> Completar orden
            </button>
        </ng-template>
    </ng-container>
    <ng-template #orderTemplate>
        <nz-card *ngIf="cart">
            <nz-card-meta [nzTitle]="'Orden '.concat(cart.order)" [nzDescription]="descriptionTemplate" [nzAvatar]="avatarTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
            <nz-avatar nzIcon="file-done" style="background-color:#A4CAF6;"></nz-avatar>
        </ng-template>
        <ng-template #descriptionTemplate>
            <div class="ps" style="position: relative; max-width: 100%; max-height: 290px;" [perfectScrollbar]="config">
                <nz-descriptions nzTitle="Detalle de orden" nzBordered>
                    <nz-descriptions-item nzTitle="Numero de orden" [nzSpan]="3">{{cart.order}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Fecha de orden" [nzSpan]="3">
                        {{cart.orderTime | firestorePipe}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Estatus" [nzSpan]="3">
                      <nz-badge nzStatus="success" [nzText]="cart.status === 'completed' ? 'Completada' : 'Pendiente'"></nz-badge>
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Productos" [nzSpan]="3">
                        <ng-container *ngFor="let item of cart.cartItems">
                            <div style="display: flex;">
                                <div>
                                    <h5>{{item.productName}}  <span style="margin-left: 35px;">X {{item.quanty}}</span></h5>
                                    <p>Sku: {{item.productSku}}</p>
                                </div>
                                
                            </div>
                            <br />
                        </ng-container>
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Total">
                        <p>{{ (cart.id | getTotalQuanty) | async}}</p>
                    </nz-descriptions-item>
                </nz-descriptions>
            </div>
            
        </ng-template>
    </ng-template>
</ng-container>







