nz-card {
    border-radius: 15px;
    height: 400px;
    margin: 15px 0;
    
    ::ng-deep .ant-card-head {
        color: #393e46;
        border-radius: 15px 15px 0px 0px;
    }

    ::ng-deep .ant-card-actions {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    
}